.picker{
    width: 100px;
    border: 1px;
    height: auto;
    z-index: 4000;
    overflow: override; 
}
.menu{
    width: 300px;
    height:300px;
    position: absolute;
    z-index: 2;
    background-color: antiquewhite;
    margin-left: 200px;
}
.inlinetable{
    border: 1cm;
    padding:2px;
}
.hilightrow  {
    /* background-color: blueviolet; */
  }
  .hilightrow tr:hover td {
    cursor: pointer;
    background-color: bisque;
  }